#window-slider{
    /*width: 815px;
    height: 515px;
    position: relative;
    left: 50%;
    margin-left: -410px;
    background-color: #000;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;*/
    display: block;
    position: relative;
    top: 200px;
}
#tl-slider{
    display: block;
overflow: hidden;
z-index: 1001;
    
}
#tr-slider{
    display: block;
overflow: hidden;
z-index: 1000;
}

#bl-slider {
    display: block;
left: 0;
position: absolute;
}
#tl-slider img {
	display: block;
}
#tr-slider img {
	display: block;
}

#bl-slider img {
	display: block;
	top: 0;
	position: absolute;
	left: -225px;
}

#window-slider > div:nth-child(odd){
    float: left;
}
#window-slider > div:nth-child(even){
    float: right;
}
#window-slider > div{
    position:relative;
    overflow: hidden;
}
#window-slider > div > img{
    display: block;  
}
#window-slider > div > img:nth-child(n+2){
    display: none;
}