/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
    font-family: Arial;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */

body {
    font: 16px/26px Helvetica, Helvetica Neue, Arial;
}

.wrapper {
    width: 90%;
    margin: 0 5%;
}

/* ===================
    ALL: Orange Theme
   =================== */

.header-container {
    border-bottom: 10px solid #a6193a;

    max-height:100px;
}

.footer-container,
.main aside {
    border-top: 10px solid #a6193a;
padding: 10px 0;
position: relative;
z-index: 7;
}

.header-container,
.footer-container,
.main aside {
    background: #82102A;
}

.title {
    color: white;


}
/* ================
body style
================ */
body {
  background: url("../img/bg-pic.jpg")no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
img.logo {
    float: left;
    width: 205px;
}

.yellow-shape {
    -webkit-transform: skewX(-6deg) rotate(-6deg);
    -moz-transform: skewX(-6deg) rotate(-6deg);
    -o-transform: skewX(-6deg) rotate(-6deg);
    -ms-transform: skewX(-6deg) rotate(-6deg);
    transform: skewX(-6deg) rotate(-6deg);
    padding-top: 25px !important;
}

.green-box-content {
	-webkit-transform: skewX(6deg) rotate(6deg);
    -moz-transform: skewX(6deg) rotate(6deg);
    -o-transform: skewX(6deg) rotate(6deg);
    -ms-transform: skewX(6deg) rotate(6deg);
    transform: skewX(6deg) rotate(6deg);
	
  padding: 35px;
  text-align: center;
}
.green-box-content > h3 {
border-bottom: 3px solid #bac5c2;
color: #8da922;
font-size: 2.2vw;
font-weight: bold;
line-height: 50px;
text-transform: uppercase;
}
.green-box-content span {
  display: block;
line-height: 40px;
font-size: 2.2vw;
font-weight: bold;
letter-spacing: 0.5px;
}
.date {
  color: #8da922;
  margin-bottom: 10px;
}
.place, .subject {
  color: #E6E6E6;
}
.green-box-content p {
  margin-top: 34px;
}
.events .schedule, .events .goal {
background: rgba(234, 234, 234, 0.6) none repeat scroll 0 0;
border-top: 22px solid #8da922;
color: #5e5e5e;
font-size: 1.6vw;
line-height: 29px;
margin-top: -33px;
padding: 12px 25px 25px;
position: relative;
}
#schedule > h3, .goal > h3 {
  border-bottom: 3px solid #9DB552;
  color: #8da922;
  font-size: 1.8vw;
  font-weight: bold;
  line-height: 40px;
  margin: 0 0 20px;
  text-transform: uppercase;
}
.events .goal{
	margin-top:35px;
}
.text, .time-schedule {
  margin: 20px 0 0 !important;
}
#time-schdule > span {
  display: block;
}
.events .schedule:before, .events .goal:before {
  border-bottom: 20px solid #8da922;
border-left: 30px solid transparent;
border-right: 30px solid transparent;
content: "";
height: 0;
left: 25px;
position: absolute;
top: -42px;
width: 0;
}



/* ==============
    MOBILE: Menu
   ============== */

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

nav a {
    display: block;
    margin-bottom: 10px;
    padding: 15px 0;

    text-align: center;
    text-decoration: none;
    font-weight: bold;

    color: white;
    background: #e44d26;
}

nav a:hover,
nav a:visited {
    color: white;
}

nav a:hover {
    text-decoration: underline;
}

/* ==============
    MOBILE: Main
   ============== */

.main {
    padding: 30px 0;
}

.main article h1 {
    font-size: 3vw;
    line-height:100px;
}

.main aside {
    color: white;
    padding: 0px 5% 10px;
}

.footer-container footer {
    color: white;



}

/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
    padding-top: 20px;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */







h3 {
    font-size:2.25em;
    font-weight:400;

}







/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 480px) {

    /* ====================
        INTERMEDIATE: Menu
       ==================== */

    nav a {
        float: left;
        width: 27%;
        margin: 0 1.7%;
        padding: 25px 2%;
        margin-bottom: 0;
    }

    nav li:first-child a {
        margin-left: 0;
    }

    nav li:last-child a {
        margin-right: 0;
    }

    /* ========================
        INTERMEDIATE: IE Fixes
       ======================== */

    nav ul li {
        display: inline;
    }

    .oldie nav a {
        margin: 0 0.7%;
    }
}

@media only screen and (min-width: 768px) {

    /* ====================
        WIDE: CSS3 Effects
       ==================== */

    .header-container,
    .main aside {
        -webkit-box-shadow: 0 5px 10px #aaa;
        -moz-box-shadow: 0 5px 10px #aaa;
        box-shadow: 0 5px 10px #aaa;
    }

    /* ============
        WIDE: Menu
       ============ */

    .title {
        float: left;
    }

    nav {
        float: right;
        width: 38%;
    }

    /* ============
        WIDE: Main
       ============ */

    .main article {
        float: left;
        width: 57%;
    }

    .main aside {
        float: right;
        width: 28%;
    }
}

@media only screen and (min-width: 1140px) {

    /* ===============
        Maximal Width
       =============== */

    .wrapper {
        width: 100%; /* 1140px - 10% for margins */
        margin: 0 auto;
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}



#green-border {   
    background:rgba(141, 169, 34, 1);
    background: -moz-linear-gradient(top, rgba(141, 169, 34,1) 0%, rgba(141, 169, 34,0) 22%, rgba(231,56,39,0) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(141, 169, 34,1)), color-stop(22%, rgba(141, 169, 34,0)), color-stop(100%, rgba(141, 169, 34, 0)));
    background: -webkit-linear-gradient(top, rgba(141, 169, 34,1) 0%, rgba(141, 169, 34,0) 22%, rgba(141, 169, 34,0) 100%);
    background: -o-linear-gradient(top, rgba(141, 169, 34,1) 0%, rgba(141, 169, 34,0) 22%, rgba(141, 169, 34,0) 100%);
    background: -ms-linear-gradient(top, rgba(141, 169, 34,1) 0%, rgba(244,75,48,0) 22%, rgba(231,56,39,0) 100%);
    background: linear-gradient(to bottom, rgba(141, 169, 34,1) 0%, rgba(141, 169, 34,0) 22%, rgba(141, 169, 34,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f85032', endColorstr='#e73827', GradientType=0 );    
    position:relative;
}

#green-box:after {
    border-top: 10px solid #eaeaea
}

/*----------------------------------*/

.scroll {
    height: 50px;	
    overflow: hidden;
    position: relative;
    width:100%;    

}
.scroll h3 {
    position: absolute;
    display:inline;
    width: 100%;
    height: 100%;
    margin: 0;
    line-height: 50px;
    text-align: center;
    /* Starting position */
    -moz-transform:translateX(-100%);
    -webkit-transform:translateX(-100%);	
    transform:translateX(-100%);
    /* Apply animation to this element */	
    -moz-animation: scroll-right 30s linear infinite;
    -webkit-animation: scroll-right 30s linear infinite;
    animation: scroll-right 30s linear infinite;
}
/* Move it (define the animation) */
@-moz-keyframes scroll-right {
    0%   { -moz-transform: translateX(-100%); }
100% { -moz-transform: translateX(100%); }
}
@-webkit-keyframes scroll-right {
    0%   { -webkit-transform: translateX(-100%); }
100% { -webkit-transform: translateX(100%); }
}
@keyframes scroll-right {
    0%   { -moz-transform: translateX(-100%); /* Browser bug fix */
    -webkit-transform: translateX(-100%); /* Browser bug fix */
    transform: translateX(-100%); 		
}
100% { 
    -moz-transform: translateX(100%); /* Browser bug fix */
    -webkit-transform: translateX(100%); /* Browser bug fix */
    transform: translateX(100%); 
}
}