*{margin: 0px; padding: 0px;}
body{
    padding: 0px;
    font-size: 14px;
    margin: 0px auto;
    font-family:arial;
}
a{
    text-decoration: none;
}
a:hover{
	text-decoration: none;
}
h1, h2, h3, h4, h5, h6, p, figur{
    margin: 0px;
    font-weight: normal;
}
ul, ol{
	margin:0px;
	padding:0px;
	list-style:none;
}
.clear{
    clear: both;
}
a:focus {
    outline: none;
    outline-offset: 0px;
}

/* ========end default style========= */


/* ===========school body style================== */
.clear{
    clear: both;
}
section.school-body {
  background: url(images/school-bg.jpg) no-repeat;
  background-size: cover;
  background-position: center center;
  position:relative;
}
.logo-area {
  background: #03a660 none repeat scroll 0 0;
  left: 0;
  padding: 20px 20px 29px;
  position: absolute;
  text-align: center;
  width: 100%;
  z-index: 5;
}
.logo-area img {
  margin: 0 auto;
}
.slider1-area {
  position: absolute;
  right: 0;
  border: 6px solid #03A660;
  top: 206px;
  width: 250px;
  height: 248px;
}
.slider1-area img,
.slider2-area img {
  height: 100%;
  width: 100%;
}
.left-sidebar{
height: 699px;
overflow: hidden;
position: relative;
}




.table1, .table2 {
background: rgba(255, 255, 255, 0.4) none repeat scroll 0 0;
color: #000;
font-size: 20px;
margin-bottom: 15px;
height: 436px;
overflow: auto;
}
.table > tbody > tr > td, 
.table > tbody > tr > th, 
.table > tfoot > tr > td, 
.table > tfoot > tr > th, 
.table > thead > tr > td, 
.table > thead > tr > th {
  border-top: 0px;
  padding: 0px;
}
th#lunch-menu, th#table2-title {
  background: #bf7a0e none repeat scroll 0 0;
  color: #222;
}
 .table1 th, .table2 th {
  font-size: 34px;
  text-align: center;
  text-transform: capitalize;
}
.table1 td, .table2 td {
  text-transform: capitalize;
  font-size: 23px;
  padding: 8px 15px !important;
} 
.table1 tbody tr:first-child,
.table2 tbody tr:first-child {
  font-weight: bold;
}
.table1 tbody tr:nth-child(2n+1),
.table2 tbody tr:nth-child(2n+1) {
  background: rgba(3, 166, 96, 0.67) none repeat scroll 0 0;
}
.padding-right{padding-right:0px;}
.table {
  margin-bottom: 0;
}

.slider2-area {
  height: 248px;
  border: 6px solid #03A660;
	margin-left: -15px;
	width: 250px;
}
.library-hour {
  background: rgba(255, 255, 255, 0.4) none repeat scroll 0 0;
color: #222;
margin-left: 15px;
min-height: 246px;
padding: 20px 25px;
width: 71.8%;
}
.library-hour h2 {
  text-transform: capitalize;
  font-weight: bold;
  font-size: 38px;
  margin-bottom: 12px;
}
.library-hour p {
  font-size: 22px;
}


