*{margin: 0px; padding: 0px;}
body{
    background:#F5F5F5;
    padding: 0px;
    font-size: 14px;
    margin: 0px auto;
    color:#666;
    font-family: 'Roboto', sans-serif;
}
a{
    text-decoration: none;
}
a:hover, a:focus{
    text-decoration: none;
}
h1, h2, h3, h4, h5, h6, p, figur{
    margin: 0px;
    font-weight: normal;
}
h1, h2, h3, h4, h5, h6{
    font-family:arial;
}
ul, ol{
    margin:0px;
    padding:0px;
    list-style:none;
}
.clear{
    clear: both;
}
a:focus {
    outline: none;
    outline-offset: 0px;
}
.no-margin{
    margin:0px;
}

/* ========end default style========= */

/* header style */
header {
    background: #277bc1 none repeat scroll 0 0;
    padding: 20px 0;
    text-align: center;
    text-transform: uppercase;
}
header h3 {
    color: #ffbb00;
    font-weight: bold;
}
/* header style */

/* ====================== start banner section style=================== */
section.food-price-list {
    height: 480px;
    overflow: hidden;
    position: relative;
}
section.food-price-list img{width:100%; height: auto;}
/* ======================end banner section style=================== */


/* ======================start breadcrumb section style=================== */
section.breadcrumb-section {
    background: #277bc1 none repeat scroll 0 0;
    box-shadow: 0 0 41px -10px rgba(0, 0, 0, 0.7) inset;
}
section.breadcrumb-section .breadcrumb {
    background:none;
    border-radius: 0;
    list-style: outside none none;
    margin-bottom: 0;
    padding: 15px 20px;
    text-align: center;
}
.breadcrumb-section a {
    color: #FFBB00;
    font-size: 19px;
}
.breadcrumb-section li.active {
    color: #fff!important;
    font-size: 19px;
}
.breadcrumb-section .breadcrumb > li + li::before {
    color: #ccc;
    content: "\f101";
    font-family: FontAwesome;
    font-size: 17px;
    padding: 0 6px;
}
/* ======================end breadcrumb section style=================== */


/* ======================start main-content section style=================== */
.food-main-content {
    padding: 60px 0;
}
.markets-served, .more-info, .social-media {
    background: #0c88cf none repeat scroll 0 0;
    margin-bottom: 30px;
    padding: 10px;
    border-radius: 4px;
}
.markets-served > h3, .more-info > h3, .social-media > h3 {
    background: #ffbb00 none repeat scroll 0 0;
    border-radius: 3px;
    color: #555;
    text-align: center;
    padding: 11px;
    text-align: center;
    margin-bottom:20px;
}
.markets-served a, .more-info a {
    border-bottom: 1px solid #ffbb00;
    color: #ffbb00;
    display: block;
    font-size: 15px;
    padding: 6px 0;
}
.markets-served li:first-child a,
.more-info li:first-child a {
    border-top: 1px solid #ffbb00;
}
.markets-served li:last-child a, 
.more-info li:last-child a {
    border-bottom: medium none;
}
.more-info a i {
    color: #fff;
    margin-right: 10px;
}
.markets-served a:hover, .more-info a:hover{
    color: #fff;
}
.social-media > a {
    background: #4a6ea8 none repeat scroll 0 0;
    border-radius: 3px;
    color: #fff;
    display: inline-block;
    font-size: 31px;
    height: 46px;
    margin-right: 6px;
    padding: 1px;
    text-align: center;
    text-shadow: 0 3px 0 rgba(0, 0, 0, 0.5);
    width: 47px;
}
.social-media > a:hover {
    color: #FFBB00;
}
.social-media .twitter {
    background: #32def4 none repeat scroll 0 0;
}


/* right sidebar */
.rightbar h1 {
    color: #555;
}
.rightbar span {
    color: #444;
    display: block;
    font-size: 20px;
    line-height: 29px;
    margin-bottom: 14px;
}
.content-para1,
.content-para2 {
    font-size: 15px;
    font-weight: 300;
    line-height: 26px;
    margin-bottom: 30px;
    text-align: justify;
    letter-spacing: 0.025em;
}
.content-para2{margin-top:30px;}
h2.benefit-header {
    font-size: 27px;
    margin-bottom: 20px;
}
.benefit-list > li {
    font-size: 15px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0.025em;
    list-style-image: url("images/check-list-style.png");
    margin-bottom: 10px;
}
.menu-board {
    margin-top: 20px;
}

.rightbar .well {
    margin-bottom: 0;
    box-shadow: 0 0 3px #0c88cf;
    margin-top: 30px;
}
.well .col-sm-9 > h3 {
    line-height: 30px;
}
a#button span {
    background: #70963e none repeat scroll 0 0;
    border-radius: 3px;
    color: #fff;
    display: block;
    font-size: 26px !important;
    font-weight: bold;
    padding: 14px 10px;
    text-align: center;
}
a#button:hover span {
    background: #FFBB00 none repeat scroll 0 0;
    color: #555;
}
/* right sidebar */
/* ======================end main-content section style=================== */



