*{margin: 0px; padding: 0px;}
body{
    background:#F5F5F5;
    padding: 0px;
    font-size: 14px;
    margin: 0px auto;
    color:#666;
    font-family: 'Roboto', sans-serif;
}
a{
    text-decoration: none;
}
a:hover, a:focus{
    text-decoration: none;
}
h1, h2, h3, h4, h5, h6, p, figur{
    margin: 0px;
    font-weight: normal;
}
h1, h2, h3, h4, h5, h6{
    font-family:arial;
}
ul, ol{
    margin:0px;
    padding:0px;
    list-style:none;
}
.clear{
    clear: both;
}
a:focus {
    outline: none;
    outline-offset: 0px;
}
.no-margin{
    margin:0px;
}

/* ========end default style========= */

/* header style */
header {
    background: #277bc1 none repeat scroll 0 0;
    padding: 20px 0;
    text-align: center;
    text-transform: uppercase;
}
header h3 {
    color: #ffbb00;
    font-weight: bold;
}
/* header style */


/* ================banner style================== */
section.banner-section {
    background: url(images/banner-bg.jpg) no-repeat;
    background-attachment:fixed;
    height: 330px;
    background-size: cover;
    background-position: left top;
}
.banner-tablel {
    display: table;
    height: 100%;
    width: 100%;
}
.banner-tbl-cell {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 100%;
}
.banner-section h2 {
    background: rgba(15, 144, 219, 0.8) none repeat scroll 0 0;
    border-radius: 5px;
    color: #FFBB00;
    display: block;
    font-size: 49px;
    line-height: 40px;
    margin: 0 auto;
    padding: 32px 20px 18px;
    font-weight:bold;
    width: 570px;
}

.banner-section span {
    display: block;
    color: #fff;
    font-size: 24px;
}
/* ================end banner style================== */


/* ================start Signage style================== */
.section-header {
    color: #f88518;
    text-align: center;
    font-weight: bold;
}
.signage-section {
    padding: 70px 0;
    position: relative;
}
p.section-bref {
    color: #666;
    font-size: 22px;
    letter-spacing: 0.7px;
    line-height: 42px;
    text-align: center;
}
.para1 {
    font-size: 15px;
    font-weight: 300;
    letter-spacing: 0.025em;
    line-height: 26px;
    margin: 10px 0 30px;
    text-align: justify;
}
.para-hedding {
    color: #666;
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 10px;
}
.para2 {
    font-size: 15px;
    font-weight: 300;
    letter-spacing: 0.025em;
    line-height: 26px;
}
.signage-section .buttons {
    margin-top: 110px;
}
.buttons a {
    background: #70963e none repeat scroll 0 0;
    border: 2px solid #01653f;
    border-radius: 3px;
    position:relative;
    color: #fff;
    display: block;
    font-size: 27px;
    margin-top: 15px;
    padding: 10px 30px;
    text-align: center;
    text-transform: capitalize;
}
.subscribe::before {
    background: rgba(0, 0, 0, 0) radial-gradient(ellipse at center center , rgba(0, 0, 0, 0.44) 21%, rgba(0, 0, 0, 0) 68%) repeat scroll 0 0;
    content: "";
    height: 16px;
    left: 5%;
    transform: translateY(20px);
    pointer-events: none;
    position: absolute;
    top: 100%;
    transition-duration: 0.3s;
    transition-property: transform, opacity;
    width: 90%;
    z-index: -1;
}

.buttons a:hover{
    background: #FFBB00;
    color: #444;
    text-shadow: none;
}
.signage-section img {
    margin-top: 50px;
}
/* ================end Signage style================== */


/* ================start cloud and server style================== */
.cloud-server-section {
    background: #277bc1 none repeat scroll 0 0;
    padding: 80px 0;
}
.cloud-server-section .section-header {
    color: #ffbb00;
    margin-bottom: 50px;
}
.server-benifit > h3, .cloud-benifit > h3 {
    color: #FFBB00;
    font-weight: bold;
    margin-bottom: 12px;
    font-size: 18px;
    text-transform: uppercase;
}
.server-benifit li, .cloud-benifit li {
    color: #fff;
    font-size: 15px;
    font-weight: 300;
    line-height: 26px;
    list-style-image: url("images/check-list-style.png");
    letter-spacing: 0.025em;
}
/* ================end cloud and server style================== */


/* ==================start new feature style================== */
.new-feature-section {
    padding: 70px 0;
}
.new-feature-section h1 {
    font-size: 30px;
    margin-bottom: 18px;
}
.features {
    margin-bottom: 30px;
    margin-left: 300px;
}
.features li {
    color: #444;
    font-size: 15px;
    font-weight: 300;
    line-height: 27px;
    list-style-image: url("images/check-list-style.png");
    letter-spacing: 0.025em;
}
.feature-text {
    font-size: 15px;
    font-weight: 300;
    text-align: justify;
    line-height: 26px;
    letter-spacing: 0.025em;
}
/* ==================end new feature style================== */











