@media (min-width: 2200px) {
    header {
        padding: 20px 0;
    }
    section.body-section {
        padding: 40px 0;
    }
    .progress-section {
        width: 90%;
    }
    .progress-section ul li {
        font-size: 37px;
        line-height: 57px;
    }
    .progress-txt span.rht {
        height: 5px;
        width: 53px;
    }
    .announcement-area {
        margin-top: 170px;
    }
    .announcement-txt h2 {
        font-size: 45px;
    }
    .announcement-txt p {
        font-size: 36px;
        line-height: 50px;
    }

    /* right side content */
    .menubar {
        height: 940px;
        width: 285px;
    }
    .menubar-table-cell li {
        font-size: 40px;
        margin-top: 70px;
    }
    .donor-carousel {
        height: 89px;
        left: 284px;
        padding: 16px 0;
        top: -2px;
        width: 959px;
    }
    .right-content .tree-img {
        right: 26px;
        width: 900px;
    }

    .owl-item > li::after {
        height: 23px;
        right: -23px;
        top: 14px;
        width: 3px;
    }



}


@media (min-width: 1920px) and (max-width: 2199px) {
    body{
        /* background:orange; */
    }
    header {
        padding: 15px 0;
    }
    section.body-section {
        padding: 40px 0;
    }
    .progress-section {
        width: 90%;
    }
    .progress-section ul li {
        font-size: 32px;
        line-height: 50px;
    }
    .progress-txt span.rht {
        height: 5px;
        width: 53px;
    }
    .announcement-area {
        margin-top: 170px;
    }
    .announcement-txt h2 {
        font-size: 40px;
    }
    .announcement-txt p {
        font-size: 33px;
        line-height: 47px;
    }

    /* right side content */
    .menubar {
        height: 900px;
        width: 260px;
    }
    .menubar-table-cell li {
        font-size: 34px;
        margin-top: 50px;
    }
    .donor-carousel {
        height: 81px;
        left: 259px;
        padding: 15px 0;
        top: -2px;
        width: 810px;
    }
    .right-content .tree-img {
        right: 26px;
        width: 900px;
    }
    .owl-item > li {
        padding: 0 40px !important;
    }
    .owl-item > li::after {
        height: 23px;
        right: -6px;
        top: 11px;
        width: 3px;
    }

}

@media (min-width: 1360px) and (max-width: 1919px) {
    body{
        /* background:pink; */
    }
    .progress-section ul li {
        font-size: 24px;
    }
    .announcement-txt p {
        line-height: 33px;
    }
    .menubar {
        height: 690px;
    }
    .right-content .tree-img {
        right: -10px;
        width: 600px;
    }

}

@media (min-width: 1280px) and (max-width: 1359px) {
    body{
        /* background:skyblue; */
    }
    .header-logo-area {
        width: 300px;
    }
    .header-logo-area > img {
        width: 100%;
    }
    .announcement-txt h2 {
        font-size: 22px;
    }
    .menubar {
        height: 670px;
    }
    .donor-carousel {
        width: 530px;
    }
    .owl-item > li {
        padding: 0 16px !important;
    }
    .owl-item > li::after {
        height: 16px;
        right: -21px;
        top: 5px;
        width: 2px;
    }


}


