*{margin: 0px; padding: 0px;}
body{
    padding: 0px;
    font-size: 14px;
    margin: 0px auto;
    font-family:arial;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
h1, h2, h3, h4, h5, h6, p, figur{
    margin: 0px;
    font-weight: normal;
}
ul, ol{
    margin:0px;
    padding:0px;
    list-style:none;
}
.floatleft{
    float: left
}
.floatright{
    float:right;
}
.clear{
    clear: both;
}
a:focus {
    outline: none;
    outline-offset: 0px;
}
.no-margin{
    margin:0px;
}
#scrollUp{
    background:url('images/top.png') no-repeat;
    height:38px;
    width:38px;
    right:20px;
    bottom:50px;
    text-indent:-9999px;
}
/* ========end default style========= */


/* ================header style============= */
header {
    background: #f2f2f2 none repeat scroll 0 0;
    padding: 10px 0;
    -webkit-box-shadow: 0 1px 4px black, -4px -3px 12px -3px rgba(0,0,0,0.33) inset;
    -moz-box-shadow: 0 1px 4px black, -4px -3px 12px -3px rgba(0,0,0,0.33) inset;
    -ms-box-shadow: 0 1px 4px black, -4px -3px 12px -3px rgba(0,0,0,0.33) inset;
    -o-box-shadow: 0 1px 4px black, -4px -3px 12px -3px rgba(0,0,0,0.33) inset;
    box-shadow: 0 1px 4px black, -4px -3px 12px -3px rgba(0,0,0,0.33) inset;
}
.header-logo-area {
    height: 70px;
    margin: 0 auto;
    width: 334px;
}

/* ================body content style============= */
section.body-section {
    padding: 22px 0;
}
.progress-section {
    width: 97%;
}
.progress-section ul li {
    font-size: 21px;
    line-height: 40px;
    text-transform: uppercase;
}
.progress-section .rht {
    float: right;
}
.progress-txt span {
    color: #f67c39;
}
.progress-txt span.rht {
    width: 23px;
    height: 3px;
    background: #f67c39;
    margin-top: 19px;
}
.goal-txt, .raised-txt {
    color: #2a2a2a;
}
.circleprogress-bar {
    border-radius: 100%;
    display: inline-block;
    height: 140px;
    left: 50%;
    margin-left: -116px;
    margin-top: -85px;
    position: absolute;
    top: 50%;
    width: 142px;
}
.circlestat.circliful {
    border-radius: 100%;
    box-shadow: 0 0 4px rgba(0,0,0,0.31);
}
.circle-text::before {
    background: #f4f4f2 none repeat scroll 0 0;
    border-radius: 100%;
    content: "";
    height: 123px;
    left: 34px;
    position: absolute;
    top: 34px;
    width: 121px;
    z-index:-1;
    -webkit-box-shadow: 0px -1px 3px 3px rgba(0,0,0,0.40) inset;
    -moz-box-shadow: 0px -1px 3px 3px rgba(0,0,0,0.40) inset;
    -ms-box-shadow: 0px -1px 3px 3px rgba(0,0,0,0.40) inset;
    -o-box-shadow: 0px -1px 3px 3px rgba(0,0,0,0.40) inset;
    box-shadow: 0px -1px 3px 3px rgba(0,0,0,0.40) inset;
}
.raised-txt {
    margin-top: 80px;
    position: relative;
}
.announcement-area {
    margin-top: 140px;
}
.announcement-txt h2 {
    color: #f67c39;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 15px;
    text-transform: uppercase;
}
.announcement-txt p {
    color: #1e1e1e;
    font-size: 20px;
    line-height: 30px;
    text-align: justify;
}
.no-padding{padding:0px;}
.announcement-img {
    position: absolute;
    right: -15px;
    top: -60px;
}

/* 01878274877 */



/* =======right content========== */
.right-content {
    position:relative;
}
.right-content .tree-img {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 570px;
    z-index: -1;
}
.menubar {
    background: #F67C39;
    width: 175px;
    height: 600px;
}

.meubar-table {
    display: table;
    height: 100%;
    position: relative;
    width: 100%;
}
.menubar-table-cell {
    display: table-cell;
    vertical-align: middle;
}

.menubar-table-cell li {
    background: #cb5f23 none repeat scroll 0 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.71);
    border-top: 2px solid #9b3e0b;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    margin-top: 35px;
    padding: 15px;
    text-align: center;
    text-transform: uppercase;
    position:relative;
}
.menubar-table-cell li:first-child {
    margin-top: 0;
}

/* submenu donor */
.donor-carousel {
    background: rgba(203, 95, 35, 0.73) none repeat scroll 0 0;
    height: 60px;
    left: 175px;
    padding: 16px 0;
    position: absolute;
    text-align: left;
    top: -2px;
    width: 570px;;
}
.owl-item > li {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border-bottom: 0 none;
    border-top: 0 none;
    display: inline;
    font-weight: normal;
    padding: 0px 32px!important;
    /* padding: 0 !important; */
    text-transform: capitalize;
    position:relative;
}
.owl-item > li:after {
    content: "";
    position: absolute;
    right: -5px;
    width: 2px;
    background: #fff;
    height: 18px;
    top: 4px;
}




