@media (min-width: 1200px) {
    .life-science-tab-wrapper{display:block;}
    .life-science-mobile-accordion{display:none;}
}


@media (min-width: 992px) and (max-width: 1199px) {
    body{
        /* background:orange; */
    }
    .life-science-tab-wrapper{display:block;}
    .life-science-mobile-accordion{display:none;}
    /* ==========tab section============ */
    .legend-style.clinical {
        left: 15px;
        width: 281px;
    }
    .clinical > span {
        font-size: 12px;
        left: 157px;
    }
    .legend-style.evidence-tab {
        right: 28px;
        width: 575px;
    }
    .legend-style.evidence-tab > span {
        font-size: 12px;
        left: 305px;
    }


}

@media (min-width: 768px) and (max-width: 991px) {
    body{
        /* background:pink; */
    }
    .life-science-tab-wrapper{display:block;}
    .life-science-mobile-accordion{display:none;}
    /* ==========tab section============ */
    .legend-style.clinical {
        left: 9px;
        width: 222px;
    }
    .clinical > span {
        font-size: 11px;
        left: 143px;
        padding: 0px 4px;
    }
    .legend-style.evidence-tab {
        right: 14px;
        width: 452px;
    }
    .legend-style.evidence-tab > span {
        font-size: 11px;
        left: 256px;
        padding: 0 5px;
    }
    .life-science-tab-wrapper a {
        padding: 10px 0px!important;
    }
    .life-science-tab-wrapper .tab-content {
        background: #ddd none repeat scroll 0 0;
        padding: 30px 20px;
    }
    .life-science-tab-wrapper .tab-pane h2 {
        font-size: 21px;
    }
    .life-science-tab-wrapper .tab-pane p {
        font-size: 17px;
        line-height: 25px;
        margin-top: 10px;
    }



}




@media (min-width: 600px) and (max-width: 767px) {
    body{
        /* background:skyblue; */
    }
    .life-science-tab-wrapper{display:none;}
    .life-science-mobile-accordion{display:block;}
    /* moble device accordion */
    .a-content > h2 {
        font-size: 22px;
    }
    .a-content > p {  
        font-size: 17px;
        line-height: 25px;
        margin-top: 10px;
    }



}

@media (min-width: 401px) and (max-width: 599px) {
    body{
        /* background:yellow; */
    }
    .life-science-tab-wrapper{display:none;}
    .life-science-mobile-accordion{display:block;}
    /* moble device accordion */
    .a-content > h2 {
        font-size: 20px;
    }
    .a-content > p {  
        font-size: 15px;
        line-height: 24px;
        margin-top: 10px;
        text-align: justify;
    }
    .clinical-accordion dt, .evidence-accordion dt {
        font-size: 16px;
        padding: 9px 12px;
    }
    .clinical-accordion dt::before, .evidence-accordion dt::before {
        font-size: 22px;
        right: 7px;
        top: 5px;
    }


}

@media (max-width: 400px) {
    body{
        /* background:green */
    }
    .life-science-tab-wrapper{display:none;}
    .life-science-mobile-accordion{display:block;}
    /* moble device accordion */
    .a-content > h2 {
        font-size: 16px;
    }
    .accordion-header::before {
        display: none;
    }
    .accordion-header span {
        background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
        font-size: 13px;
        padding: 0 0px 3px 0;
        border-bottom: 2px solid;

    }
    .a-content > p {  
        font-size: 12px;
        line-height: 20px;
        margin-top: 7px;
        text-align: justify;
    }
    .clinical-accordion dt, .evidence-accordion dt {
        font-size: 15px;
        padding: 8px 5px;
    }
    .clinical-accordion dd, .evidence-accordion dd {
        padding: 12px;
    }
    .clinical-accordion dt::before, .evidence-accordion dt::before {
        font-size: 22px;
        right: 7px;
        top: 5px;
        display:none;
    }



}


