@media (min-width: 2200px) {
	.logo > a {
	  height: 116px;
	  width: 417px;
	}
	.hospital-directory {
	 font-size: 70px;
	 margin: 40px 0 45px;
	}
	.hospital-directory-wrapper .single-directory {
	  height: 250px;
		padding: 33px 20px 21px 190px;
	}
	.single-directory > img {
	  left: 40px;
	  position: absolute;
	  top: 40px;
	  width: 120px;
	}
	.single-directory > h4 {
	  font-size: 45px;
	  line-height: 50px;
	  margin-bottom: 22px;
	}
	.single-directory p span {
	  font-size: 35px;
	}
	.animated-bar {
	  height: 120px;
	  margin-top: 80px;
	}
	.animated-bar p {
	  font-size: 52px;
	  top: 31px;
	}


}

 @media (min-width: 1920px) and (max-width: 2199px) {
	body{
		/* background:orange; */
	}
	.logo > a {
	  height: 96px;
	width: 357px;
	}
	.hospital-directory {
	 font-size: 55px;
	margin: 40px 0 38px;
	}
	.hospital-directory-wrapper .single-directory {
	  height: 210px;
	padding: 22px 20px 21px 155px;
	}
	.single-directory > img {
	  left: 26px;
	position: absolute;
	top: 30px;
	width: 99px;
	}
	.single-directory > h4 {
	  font-size: 39px;
	line-height: 45px;
	margin-bottom: 15px;
	}
	.single-directory p span {
	  font-size: 30px;
	}
	.animated-bar {
	  /* bottom: 0 !important; */
	height: 100px;
	margin-top: 80px;
	/* position: absolute; */
	}
	.animated-bar p {
	  font-size: 43px;
	top: 22px;
	}
 }
 
 @media (min-width: 1360px) and (max-width: 1919px) {
	body{
		/* background:pink; */
		position:relative;
	}
	.hospital-directory-wrapper .single-directory {
	  height: 12vw;
	  padding: 22px 20px 21px 8.6vw;
	}
	.single-directory > img {
	  width: 5.3vw;
	}
	.single-directory > h4 {
		font-size: 1.9vw;
		margin-bottom: 1vw;
	}
	.single-directory p span {
	  font-size: 1.5vw;
	}
	/* .animated-bar {
	  bottom: 0 !important;
		position: absolute;
		} */


 }

 @media (min-width: 1280px) and (max-width: 1359px) {
	body{
		/* background:skyblue; */
	}
	.hospital-directory {
	  font-size: 44px;
	}
	.single-directory > h4 {
	  font-size: 24px;
	}
	

 }
 


