@media (min-width: 1200px) {}


@media (min-width: 992px) and (max-width: 1199px) {
    body{
        /* background:orange; */
    }
    /* ------banner area------ */
    .banner-content h1 {
        font-size: 70px;
    }
    .banner-section .learn-more {
        padding: 10px;
        width: 170px;
    }
    /* ------/banner area------ */


    /* ------counter------ */
    .single-counter {
        padding: 10px;
        width: 186px;
    }
    .single-counter > h1 {
        font-size: 60px;
    }
    /* ------/counter------ */


    /* ------team section-------- */
    .team-section .single-team-hover {
        padding: 156px 20px;
    }
    .team-section .single-team-hover .social-icon a i {
        font-size: 26px;
        height: 49px;
        width: 50px;
    }
    /* ------/team section-------- */


    /* -----------client section-------- */
    .client-logo-section {
        padding: 50px 0;
    }
    .single-client-logo {
        padding: 10px;
        width: 155px;
    }
    /* -----------/client section-------- */


    /* -----------portfolio section-------- */
    #portfolio-wrapper .portfolio-hover > h3 a {
        font-size: 13px;
        margin: 16px 0 2px;
    }
    .portfolio-hover > p {
        font-size: 14px;
    }
    #portfolio-wrapper .portfolio-hover i {
        font-size: 35px;
    }
    .portfolio-hover {
        padding: 50px 40px 40px;
    }
    .single-porfolio:hover .portfolio-hover {
        padding: 60px 40px;
    }
    .portfolio-hover.big-img {
        padding: 134px 40px 160px;
    }
    .single-porfolio:hover .portfolio-hover.big-img {
        padding: 147px 40px;
    }
    /* -----------/portfolio section-------- */


    /* ------------happy client section---------- */
    .happy-client-section .col-md-offset-1 {
        margin-left: 0;
        width: 50%;
    }
    /* ------------/happy client section---------- */


    /* --------------blog section---------- */
    .date {
        bottom: 15px;
        height: 70px;
        left: -13px;
        width: 62px;
    }
    .single-blog h4 {
        font-size: 35px;
    }
    .single-blog h3 a {
        font-size: 17px;
    }
    /* --------------/blog section---------- */


    /* ---------------widget section----------- */
    .single-widget > h1 {
        font-size: 34px;
    }
    .single-widget > p {
        font-size: 14px;
        margin: 15px 0 25px;
    }
    .follower-area li:first-child {
        display: block;
        margin-bottom: 5px;
    }
    .footer-widget .subscribe-area input[type="email"] {
        display: block;
        font-size: 15px;
        height: 43px;
        margin-bottom: 15px;
        padding: 13px;
        float:none;
    }
    .footer-widget .subscribe-area button {
        height: 40px;
    }
    .instagram-gallary img {
        width: 32.63%;
    }
    /* ---------------/widget section----------- */



} /* end query orange (992px) */

@media (min-width: 768px) and (max-width: 991px) {
    body{
        /* background:pink; */
    }
    .section-padding {
        padding: 70px 0;
    }
    section .header-title {
        font-size: 22px;
    }
    section .section-header {
        font-size: 25px;
        padding: 9px 0 30px;
    }
    /* --------menu------------ */
    .main-menu-area ul li a {
        padding: 15px 18px;
    }
    /* --------/menu------------ */


    /* ------banner area------ */
    .banner-content h1 {
        font-size: 60px;
    }
    .banner-section .learn-more {
        padding: 9px;
        width: 150px;
    }
    /* ------/banner area------ */


    /* ---------about section----------- */
    section .section-discription {
        margin: 40px auto 70px;
    }
    .about-content-hover > a {
        font-size: 15px;
    }
    .about-content-hover .fa.fa-users {
        font-size: 23px;
    }
    .about-content-hover {
        padding: 49px 20px;
    }
    /* ---------/about section----------- */

    /* ------counter section------ */
    .conunter-section.section-padding {
        padding: 30px 0;
    }
    .single-counter {
        padding: 10px;
        width: 142px;
    }
    .single-counter > h1 {
        font-size: 45px;
    }
    .single-counter > p {
        font-size: 13px;
    }
    /* ------/counter section------ */


    /* ------------service section---------- */
    .single-service {
        margin: 30px 0;
    }
    /* ------------/service section---------- */


    /* ----------device section----------- */
    .device-section img.img.img-responsive {
        width: 70%;
    }
    .device-section img.img.img-responsive {
        margin: 100px auto -142px;
    }
    /* ----------/device section----------- */


    /* -----------what we do section---------- */
    section .section-discription {
        width: 100%;
    }
    .doing-section img.img.img-responsive {
        margin: 0 auto 60px;
    }
    /* accordion */
    .accordion dt {
        padding: 12.4px 20px 12.4px 67px;
    }
    .accordion dt.photo::before {
        font-size: 28px;
        top: 1px;
    }
    .accordion dt::after {
        top: 1px;
    }
    .accordion dt.creativity::before {
        font-size: 31px;
        top: 1px;
    }
    .accordion dt.web-design::before {
        font-size: 32px;
    }
    /* -----------/what we do section---------- */


    /* --------------client comment section---------- */
    .c-icon.pull-left > img {
        padding: 15px;
        width: 100px;
    }
    .comments.pull-left > p {
        font-size: 16px;
        line-height: 25px;
    }
    .comments > span::before {
        width: 40px;
    }
    .comments > span {
        padding-left: 53px;
    }
    .people-comment-wrapper a i {
        font-size: 40px;
    }
    /* --------------/client comment section---------- */


    /* ------team section-------- */
    .team-section .single-team-hover {
        padding: 115px 20px;
    }
    .team-section .single-team-hover .social-icon a i {
        font-size: 20px;
        height: 39px;
        padding: 10px;
        width: 38px;
    }
    /* ------/team section-------- */


    /* -----------client section-------- */
    .client-logo-section {
        padding: 30px 0;
    }
    .single-client-logo {
        padding: 20px;
        width: 120px;
    }
    .single-client-logo.pull-left img {
        width: 100%;
    }
    /* -----------/client section-------- */


    /* -----------portfolio section-------- */
    #portfolio-wrapper .portfolio-hover > h3 a {
        font-size: 11px;
        margin: 10px 0 2px;
    }
    .portfolio-hover > p {
        font-size: 14px;
    }
    #portfolio-wrapper .portfolio-hover i {
        font-size: 25px;
    }
    .portfolio-hover {
        padding:40px 5px;
    }
    .single-porfolio:hover .portfolio-hover {
        padding: 50px 0;
    }
    .portfolio-hover.big-img {
        padding: 100px 0px;
    }
    .single-porfolio:hover .portfolio-hover.big-img {
        padding: 114px 0
    }
    /* -----------/portfolio section-------- */


    /* ------------happy client section---------- */
    .single-client {
        padding-left: 100px;
    }
    .happy-client-section .col-md-offset-1 {
        clear: right;
        float: left;
        margin-left: 0;
        width: 50%;
    }
    .single-client > img {
        width: 80px;
    }
    .single-client > h3 {
        font-size: 14px;
    }
    .single-client > span {
        margin: 5px 0 20px;
    }
    .single-client > span::before {
        bottom: -12px;
    }
    /* ------------/happy client section---------- */


    /* --------------blog section---------- */
    .blog-section .single-blog {
        margin: 60px auto 0;
        width: 70%;
    }
    .date {
        bottom: 15px;
        height: 70px;
        left: -13px;
        width: 62px;
    }
    .single-blog h4 {
        font-size: 35px;
    }
    .single-blog h3 a {
        font-size: 17px;
        margin: 6px 0;
    }
    /* --------------/blog section---------- */


    /* ---------------widget section----------- */
    .footer-widget .single-widget {
        margin-bottom: 50px;
    }
    .single-widget > h1 {
        font-size: 34px;
    }
    .single-widget > p {
        font-size: 14px;
        margin: 15px 0 25px;
    }
    .follower-area li:first-child {
        display: block;
        margin-bottom: 5px;
    }
    .footer-widget .subscribe-area input[type="email"] {
        display: block;
        font-size: 15px;
        height: 40px;
        margin-bottom: 15px;
        padding: 13px;
        float:none;
    }
    .footer-widget .subscribe-area button {
        height: 37px;
        padding: 8px 10px;
    }
    .instagram-gallary img {
        width:16.33%
    }

    /* ---------------/widget section----------- */


} /* end query pink (768px) */

@media (min-width: 600px) and (max-width: 767px) {
    body{
        /* background:skyblue; */
    }
    .section-padding {
        padding: 50px 0;
    }
    section .header-title {
        font-size: 20px;
    }
    section .section-header {
        font-size: 25px;
        padding: 9px 0 20px;
    }
    section .section-header {
        font-size: 22px;
    }


    /* --------menu------------ */
    .main-menu-area nav {
        margin-top: -42px;
        float: none !important;
        text-align:center;
    }
    .main-menu-area .nav > li {
        display: inline-block;
    }
    .main-menu-area ul li a {
        padding: 15px 18px;
    }

    .navbar-default .navbar-toggle .icon-bar {
        background-color: #fff;
    }
    .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
        background: transparent none repeat scroll 0 0;
    }
    .pannello-affix.affix-top {
        background: #db8483 none repeat scroll 0 0;
    }
    .nav.navbar-nav > li:last-child,
    .nav.navbar-nav > li:nth-child(6) {
        display: none;
    }
    /* --------/menu------------ */


    /* ------banner area------ */
    .banner-section .title {
        font-size: 35px;
    }
    .banner-content h1 {
        font-size: 50px;
    }
    .banner-section .learn-more {
        padding: 8px;
        width: 140px;
    }
    /* ------/banner area------ */


    /* ---------about section----------- */
    section .section-discription {
        font-size: 14px;
        line-height: 23px;
        margin: 30px auto 50px;
        width: 100%!important;
    }
    .single-about-content {
        height: 250px;
        margin: 0 auto 30px;
        width: 380px;
    }
    .about-content-hover > a {
        font-size: 15px;
    }
    .about-content-hover .fa.fa-users {
        font-size: 23px;
    }
    .about-content-hover {
        padding: 95px 20px;
    }
    /* ---------/about section----------- */

    /* ------counter section------ */
    .conunter-section.section-padding {
        padding: 30px 0;
    }
    .counter-wrapper {
        margin: 0 auto;
        width: 540px;
    }
    .single-counter {
        padding: 5px;
        width: 108px;
    }
    .single-counter > h1 {
        font-size: 38px;
    }
    .single-counter > p {
        font-size: 12px;
        line-height: 16px;
    }
    /* ------/counter section------ */


    /* ------------service section---------- */
    .service-section .section-header {
        margin-bottom: 40px;
    }
    .single-service {
        margin: 15px 0;
    }
    .single-service > p {
        font-size: 14px;
        line-height: 21px;
    }
    /* ------------/service section---------- */


    /* ----------device section----------- */
    .device-section img.img.img-responsive {
        width: 400px;
        margin: 100px auto -107px;
    }
    /* ----------/device section----------- */


    /* -----------what we do section---------- */
    section .section-discription {
        width: 100%;
    }
    .doing-section img.img.img-responsive {
        margin: 0 auto 60px;
    }
    /* accordion */
    .accordion dt {
        padding: 12.4px 20px 12.4px 67px;
    }
    .accordion dt.photo::before {
        font-size: 28px;
        top: 1px;
    }
    .accordion dt::after {
        top: 1px;
    }
    .accordion dt.creativity::before {
        font-size: 31px;
        top: 1px;
    }
    .accordion dt.web-design::before {
        font-size: 32px;
    }
    /* -----------/what we do section---------- */


    /* --------------client comment section---------- */
    .c-icon.pull-left > img {
        padding: 15px;
        width: 80px;
    }
    .comments.pull-left > p {
        font-size: 15px;
        line-height: 23px;
    }
    .comments > span::before {
        width: 30px;
    }
    .comments > span {
        padding-left: 45px;
    }
    .people-comment-wrapper a i {
        font-size: 40px;
    }
    /* --------------/client comment section---------- */


    /* ------team section-------- */
    .team-section .single-team-hover {
        padding: 215px 20px;
    }
    .single-team {
        height: 470px;
        margin: 0 auto;
        width: 380px;
    }
    .team-section .single-team-hover .social-icon a i {
        font-size: 20px;
        height: 39px;
        padding: 10px;
        width: 38px;
    }
    .team-member-designation {
        margin-bottom: 60px;
    }
    /* ------/team section-------- */


    /* -----------client section-------- */
    .client-logo-section {
        padding: 30px 0;
    }
    .single-client-logo {
        padding: 14px;
        width: 92px;
    }
    .single-client-logo.pull-left img {
        width: 100%;
    }
    /* -----------/client section-------- */


    /* -----------portfolio section-------- */

    .portfolio-hover > p {
        font-size: 11px;
    }
    #portfolio-wrapper .portfolio-hover i {
        font-size: 17px;
    }
    .portfolio-hover {
        padding:20px 5px;
    }
    .single-porfolio:hover .portfolio-hover {
        padding: 25px 0;
    }
    #portfolio-wrapper .portfolio-hover > h3 a {
        font-size: 10px;
        margin: 10px 0 2px;
    }
    .portfolio-hover.big-img {
        padding: 70px 0px;
    }
    .single-porfolio:hover .portfolio-hover.big-img {
        padding: 80px 0
    }
    /* -----------/portfolio section-------- */


    /* ------------happy client section---------- */
    .single-client {
        padding-left: 100px;
        margin-top: 50px;
    }
    .happy-client-section .col-md-offset-1 {
        clear: right;
        float: left;
        margin-left: 0;
        width: 100%;
    }
    .single-client > img {
        width: 80px;
    }
    .single-client > h3 {
        font-size: 14px;
    }
    .single-client > span {
        margin: 5px 0 20px;
    }
    .single-client > span::before {
        bottom: -12px;
    }
    /* ------------/happy client section---------- */


    /* --------------blog section---------- */
    .blog-section .single-blog {
        margin: 60px auto 0;
        width: 70%;
    }
    .date {
        bottom: 15px;
        height: 70px;
        left: -13px;
        width: 62px;
    }
    .single-blog h4 {
        font-size: 35px;
    }
    .single-blog h3 a {
        font-size: 17px;
        margin: 20px 0 6px
    }
    /* --------------/blog section---------- */


    /* ---------------widget section----------- */
    .footer-widget .single-widget {
        margin-bottom: 50px;
    }
    .single-widget > h1 {
        font-size: 34px;
    }
    .single-widget > p {
        font-size: 14px;
        margin: 15px 0 25px;
    }
    .follower-area li:first-child {
        display: block;
        margin-bottom: 5px;
    }
    .footer-widget .subscribe-area input[type="email"] {
        display: block;
        font-size: 15px;
        height: 40px;
        margin-bottom: 15px;
        padding: 13px;
        float:none;
    }
    .footer-widget .subscribe-area button {
        height: 37px;
        padding: 8px 10px;
    }
    .instagram-gallary img {
        width:16.33%
    }

    /* ---------------/widget section----------- */



} /* end query skyblue (600px) */

@media (min-width: 400px) and (max-width: 599px) {
    body{
        /* background:yellow; */
    }
    .section-padding {
        padding: 40px 0;
    }
    section .header-title {
        font-size: 20px;
    }
    section .section-header {
        font-size: 25px;
        padding: 9px 0 20px;
    }
    section .section-header::before {
        height: 2px;
        margin-left: -30px;
        width: 60px;
    }
    section .section-header {
        font-size: 20px;
    }


    /* --------menu------------ */
    .main-menu-area nav {
        margin-top: -42px;
        float: none !important;
        text-align:center;
    }
    .main-menu-area .nav > li {
        display: inline-block;
    }
    .main-menu-area ul li a {
        font-size: 13px;
        padding: 13px 9px;
    }

    .navbar-default .navbar-toggle .icon-bar {
        background-color: #fff;
    }
    .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
        background: transparent none repeat scroll 0 0;
    }
    .pannello-affix.affix-top {
        background: #db8483 none repeat scroll 0 0;
    }
    .nav.navbar-nav > li:last-child,
    .nav.navbar-nav > li:nth-child(6) {
        display: none;
    }
    /* --------/menu------------ */


    /* ------banner area------ */
    .banner-section .title {
        font-size: 28px;
    }
    .banner-content h1 {
        font-size: 33px;
        padding: 10px 0;
    }
    .banner-section .learn-more {
        padding: 7px;
        width: 120px;
        font-size: 13px;
    }
    /* ------/banner area------ */


    /* ---------about section----------- */
    section .section-discription {
        font-size: 13px;
        line-height: 22px;
        margin: 30px auto 50px;
        width: 100% !important;
    }
    .single-about-content {
        height: 233px;
        margin: 0 auto 30px;
        width: 354px;
    }
    .about-content-hover > a {
        font-size: 15px;
    }
    .about-content-hover .fa.fa-users {
        font-size: 23px;
    }
    .about-content-hover {
        padding: 95px 20px;
    }
    /* ---------/about section----------- */

    /* ------counter section------ */
    .conunter-section.section-padding {
        padding: 30px 0;
    }
    .single-counter {
        padding: 5px;
        width: 20%;
    }
    .single-counter > h1 {
        font-size: 32px;
    }
    .single-counter > p {
        font-size: 11px;
        line-height: 13px;
        margin-top: 7px;
    }
    /* ------/counter section------ */


    /* ------------service section---------- */
    .service-section .section-header {
        margin-bottom: 30px;
    }
    .service-section .col-xs-6 {
        float: none;
        width: 100%;
        margin-bottom: 20px;
    }
    .single-service {
        margin: 15px 0;
    }
    .single-service > p {
        font-size: 14px;
        line-height: 21px;
    }
    /* ------------/service section---------- */


    /* ----------device section----------- */
    .device-section img.img.img-responsive {
        width: 252px;
        margin: 60px auto -76px;
    }

    /* ----------/device section----------- */


    /* -----------what we do section---------- */
    section .section-discription {
        width: 100%;
    }
    .doing-section img.img.img-responsive {
        margin: 0 auto 60px;
    }
    /* accordion */
    .accordion dt {
        padding: 12.4px 20px 12.4px 67px;
    }
    .accordion dt.photo::before {
        font-size: 28px;
        top: 1px;
    }
    .accordion dt::after {
        top: 1px;
    }
    .accordion dt.creativity::before {
        font-size: 31px;
        top: 1px;
    }
    .accordion dt.web-design::before {
        font-size: 32px;
    }
    /* -----------/what we do section---------- */


    /* --------------client comment section---------- */
    .people-comment-wrapper {
        width: 100%;
    }
    .c-icon.pull-left {
        float: none;
        margin-bottom: 20px;
        width: 100%;
    }
    .c-icon.pull-left > img {
        padding: 15px;
        width: 80px;
    }
    .comments.pull-left > p {
        font-size: 15px;
        line-height: 23px;
    }
    .comments > span::before {
        width: 30px;
    }
    .comments > span {
        padding-left: 45px;
        margin-bottom: 30px;
    }
    .comments.pull-left {
        margin-left: 0;
        width: 100%;
    }
    .people-comment-wrapper a i {
        font-size: 30px;
    }
    .people-comment-wrapper i.fa.fa-angle-right,
    .people-comment-wrapper i.fa.fa-angle-left {
        margin-top: 0;
        position: absolute;
        top:230px;
    }
    .people-comment-wrapper i.fa.fa-angle-right {
        right: 140px;
    }
    .people-comment-wrapper i.fa.fa-angle-left {
        left: 170px;
    }
    /* --------------/client comment section---------- */


    /* ------team section-------- */
    .team-section .single-team-hover {
        padding: 215px 20px;
    }
    .single-team {
        height: 438px;
        margin: 0 auto;
        width: 354px;
    }
    .team-section .single-team-hover .social-icon a i {
        font-size: 20px;
        height: 39px;
        padding: 10px;
        width: 38px;
    }
    .team-member-designation {
        margin-bottom: 60px;
    }
    /* ------/team section-------- */


    /* -----------client section-------- */
    .client-logo-wrapper {
        margin: 0 auto;
        width: 355px;
    }
    .client-logo-section {
        padding: 30px 0;
    }
    .single-client-logo {
        height: 120px;
        margin: 10px auto;
        padding: 13px;
        width: 118px;
    }
    .single-client-logo.pull-left img {
        width: 100%;
    }
    .client-logo-section :nth-child(4) {
        margin-top: 37px;
    }
    /* -----------/client section-------- */


    /* -----------portfolio section-------- */

    #portfolio-wrapper{
        margin: 0 auto;
        width: 380px;
    }
    .single-porfolio{
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }

    /* -----------/portfolio section-------- */


    /* ------------happy client section---------- */
    .single-client {
        padding-left: 100px;
        margin-top: 50px;
    }
    .happy-client-section .col-md-offset-1 {
        clear: right;
        float: left;
        margin-left: 0;
        width: 100%;
    }
    .single-client > img {
        width: 80px;
    }
    .single-client > h3 {
        font-size: 14px;
    }
    .single-client > span {
        margin: 5px 0 20px;
    }
    .single-client > span::before {
        bottom: -12px;
    }
    .single-client > p {
        font-size: 14px;
        line-height: 23px;
    }
    /* ------------/happy client section---------- */


    /* --------------blog section---------- */
    .blog-section .single-blog {
        margin: 60px auto 0;
        width: 90%;
    }
    .date {
        bottom: 15px;
        height: 55px;
        left: -13px;
        width: 52px;
    }
    .single-blog h4 {
        font-size: 20px;
    }
    .single-blog h3 a {
        font-size: 17px;
        margin: 20px 0 6px
    }
    .single-blog .date > span {
        font-size: 14px;
    }
    /* --------------/blog section---------- */


    /* ---------------widget section----------- */
    .footer-widget .single-widget {
        margin-bottom: 50px;
    }
    .single-widget > h1 {
        font-size: 34px;
    }
    .single-widget > p {
        font-size: 14px;
        margin: 15px 0 25px;
    }
    .follower-area li:first-child {
        display: block;
        margin-bottom: 5px;
    }
    .footer-widget .subscribe-area input[type="email"] {
        display: block;
        font-size: 15px;
        height: 40px;
        margin-bottom: 15px;
        padding: 13px;
        float:none;
    }
    .footer-widget .subscribe-area button {
        height: 37px;
        padding: 8px 10px;
    }
    .instagram-gallary img {
        width:16.33%
    }

    /* ---------------/widget section----------- */
    #scrollUp {
        bottom: 20px;
        right: 0;
    }


} /* end query yellow(400px) */

@media (max-width: 400px) {
    body{
        /* background:green */
    }
    .section-padding {
        padding: 40px 0;
    }
    section .header-title {
        font-size: 20px;
    }
    section .section-header {
        font-size: 25px;
        padding: 9px 0 20px;
    }
    section .section-header::before {
        height: 2px;
        margin-left: -30px;
        width: 60px;
    }
    section .section-header {
        font-size: 20px;
    }


    /* --------menu------------ */
    .main-menu-area nav {
        margin-top: -42px;
        float: none !important;
        text-align:center;
    }
    .main-menu-area .active > a::before,
    .main-menu-area ul li a:hover::before {
        display: none;
    }
    .main-menu-area .nav > li {
        display: block;
        text-align: left;
    }
    .main-menu-area ul li a {
        font-size: 15px;
        padding: 9px 9px;
    }

    .navbar-default .navbar-toggle .icon-bar {
        background-color: #fff;
    }
    .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
        background: transparent none repeat scroll 0 0;
    }
    .pannello-affix.affix-top {
        background: #db8483 none repeat scroll 0 0;
    }
    .nav.navbar-nav > li:last-child,
    .nav.navbar-nav > li:nth-child(6) {
        display: none;
    }
    /* --------/menu------------ */


    /* ------banner area------ */
    .banner-section .title {
        font-size: 28px;
    }
    .banner-content h1 {
        font-size: 32px;
        padding: 10px 0;
    }
    .banner-section .learn-more {
        font-size: 13px;
        padding: 6px;
        width: 110px;
    }
    .banner-content h1::before {
        height: 2px;
        margin-left: -30px;
        width: 60px;
    }
    /* ------/banner area------ */


    /* ---------about section----------- */
    section .section-discription {
        font-size: 13px;
        line-height: 22px;
        margin: 30px auto 50px;
        width: 100% !important;
    }
    .single-about-content {
        height: 167px;
        margin: 0 auto 30px;
        width: 254px;
    }
    .about-content-hover > a {
        font-size: 15px;
    }
    .about-content-hover .fa.fa-users {
        font-size: 23px;
    }
    .about-content-hover {
        padding: 83px 21px;
    }
    /* ---------/about section----------- */

    /* ------counter section------ */
    .conunter-section.section-padding {
        padding: 30px 0;
    }
    .single-counter {
        margin-bottom: 10px;
        padding: 5px;
        width: 100%;
    }
    .single-counter > h1 {
        font-size: 40px;
    }
    .single-counter > p {
        font-size: 14px;
        line-height: 13px;
        margin-top: 7px;
    }
    /* ------/counter section------ */


    /* ------------service section---------- */
    .service-section .section-header {
        margin-bottom: 30px;
    }
    .service-section .col-xs-6 {
        float: none;
        width: 100%;
        margin-bottom: 20px;
    }
    .single-service {
        margin: 15px 0;
    }
    .single-service > p {
        font-size: 14px;
        line-height: 21px;
    }
    .divider-border {
        border-bottom: none;
    }
    /* ------------/service section---------- */


    /* ----------device section----------- */
    .device-section img.img.img-responsive {
        width: 180px;
        margin: 60px auto -65px;
    }

    /* ----------/device section----------- */


    /* -----------what we do section---------- */
    section .section-discription {
        width: 100%;
    }
    .doing-section img.img.img-responsive {
        margin: 0 auto 60px;
    }
    /* accordion */
    .accordion dt {
        padding: 12.4px 20px 12.4px 67px;
    }
    .accordion dt.photo::before {
        font-size: 25px;
        top: 3px;
    }
    .accordion dt::after {
        top: 1px;
    }
    .accordion dt.creativity::before {
        font-size: 31px;
        top: 1px;
    }
    .accordion dt.web-design::before {
        font-size: 32px;
    }
    /* -----------/what we do section---------- */


    /* --------------client comment section---------- */
    .people-comment-wrapper {
        width: 100%;
    }
    .c-icon.pull-left {
        float: none;
        margin-bottom: 20px;
        width: 100%;
    }
    .c-icon.pull-left > img {
        padding: 15px;
        width: 80px;
    }
    .comments.pull-left > p {
        font-size: 15px;
        line-height: 23px;
    }
    .comments > span::before {
        width: 30px;
    }
    .comments > span {
        padding-left: 45px;
        margin-bottom: 30px;
    }
    .comments.pull-left {
        margin-left: 0;
        width: 100%;
    }
    .people-comment-wrapper a i {
        font-size: 30px;
    }
    .people-comment-wrapper i.fa.fa-angle-right,
    .people-comment-wrapper i.fa.fa-angle-left {
        margin-top: 0;
        position: absolute;
        top:230px;
    }
    .people-comment-wrapper i.fa.fa-angle-right {
        right: 97px;
    }
    .people-comment-wrapper i.fa.fa-angle-left {
        left: 125px;
    }
    /* --------------/client comment section---------- */


    /* ------team section-------- */
    .team-section .single-team-hover {
        padding: 142px 20px;
    }
    .single-team {
        height: 319px;
        margin: 0 auto;
        width: 257px;
    }
    .team-section .single-team-hover .social-icon a i {
        font-size: 20px;
        height: 39px;
        padding: 10px;
        width: 38px;
    }
    .team-member-designation {
        margin-bottom: 60px;
    }
    /* ------/team section-------- */


    /* -----------client section-------- */
    .client-logo-wrapper {
        margin: 0 auto;
        width: 256px;
    }
    .client-logo-section {
        padding: 30px 0;
    }
    .single-client-logo {
        height: 120px;
        margin: 10px auto;
        padding: 13px;
        width: 118px;
    }
    .single-client-logo.pull-left img {
        width: 100%;
    }
    .client-logo-section :nth-child(4) {
        margin-top: 37px;
    }
    /* -----------/client section-------- */


    /* -----------portfolio section-------- */

    #portfolio-wrapper{
        margin: 0 auto;
        width: 100%;
    }
    .single-porfolio{
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
    #portfolio-wrapper .portfolio-hover i {
        font-size: 35px;
    }
    #portfolio-wrapper .portfolio-hover > h3 a {
        font-size: 14px;
        margin: 20px 0 3px;
    }
    /* -----------/portfolio section-------- */


    /* ------------happy client section---------- */
    .single-client {
        padding-left: 0px;
        margin-top: 50px;
        text-align: center;
    }
    .happy-client-section .col-md-offset-1 {
        clear: right;
        float: left;
        margin-left: 0;
        width: 100%;
    }
    .single-client > img {
        width: 80px;
        position: relative;
    }
    .single-client > h3 {
        font-size: 14px;
    }
    .single-client > span {
        margin: 5px 0 20px;
    }
    .single-client > span::before {
        bottom: -12px;
        height: 2px;
        width: 40px;
        left: 50%;
        margin-left: -20px;
    }
    .single-client > p {
        font-size: 14px;
        line-height: 23px;
    }
    /* ------------/happy client section---------- */


    /* --------------blog section---------- */
    .blog-section .single-blog {
        margin: 60px auto 0;
        width: 100%;
    }
    .date {
        bottom: 15px;
        height: 55px;
        left: -13px;
        width: 52px;
    }
    .single-blog h4 {
        font-size: 20px;
    }
    .single-blog h3 a {
        font-size: 17px;
        margin: 20px 0 6px
    }
    .single-blog .date > span {
        font-size: 14px;
    }
    /* --------------/blog section---------- */


    /* ---------------widget section----------- */
    .footer-widget .single-widget {
        margin-bottom: 50px;
    }
    .single-widget > h1 {
        font-size: 34px;
    }
    .single-widget > p {
        font-size: 14px;
        margin: 15px 0 25px;
    }
    .follower-area a {
        font-size: 16px;
    }
    .follower-area li:first-child {
        display: block;
        margin-bottom: 5px;
    }
    .footer-widget .subscribe-area input[type="email"] {
        display: block;
        font-size: 15px;
        height: 40px;
        margin-bottom: 15px;
        padding: 13px;
        float:none;
    }
    .footer-widget .subscribe-area button {
        height: 37px;
        padding: 8px 10px;
    }
    .instagram-gallary img {
        width:32.53%;
    }

    /* ---------------/widget section----------- */
    #scrollUp {
        bottom: 20px;
        right: 0;
    }



}


