/*  */

.my-custom-css a:focus,
.my-custom-css a:hover {
  outline: none;
  outline-offset: 0;
  text-decoration: none;
}
.my-custom-css a{
	text-transform:uppercase;
	font-weight:bold;
	color:#0C3172;
	display:block;
	position:relative;
}
.my-custom-css a:after{
content: "\0203A";
font-size: 32px;
position: absolute;
right: 0;
top: -7px;
transform: rotate(90deg);
}