html, body {
    margin: 0;
    padding: 0;
    background-color: #fff;
    font-family: Arial, Open Sans, Helvetica;
    line-height: 1.4;
}


.meta {
    margin: 0 0 40px 0;
    font-size: 0.8em;
}

/* End Basic styling */


#demo-1 {
    position: relative; /* can either be relative, absolute or fixed. If position is not set (i.e. static), it would be set to "relative" by script */
    overflow: hidden; /* to bound the empty top space created by inner element's top margin */
    width: 100%;
    height: 1080px;
    background-color: #999;
}

.demo-inner-content h1 {
    font-size: 2.5em;
    margin: 0;
}
.zs-enabled .zs-slideshow .zs-bullets {
    position: absolute;
    z-index: 4;
    bottom: 20px;
    left: 0;
    width: 100%;
    text-align: center;
    visibility: hidden !important;
}
/*---custom---*/
.section {
	display: block;

}
.section3 {
    margin-top: 50px;
	display: block;
	position: relative;
	left: -15px;
}

.heading h1 {
	color: #fff;
	text-transform: uppercase;
	padding-left: 10px;
	font-weight: 700;
        background: #04c8d5;
        width: 90%;
}
.section-right {
	background: url(../photos/rightbg.png) no-repeat;
	// background-position: center center;
	background-size: cover;
	display: block;
	height: 1080px;
	z-index: 0;
	position: relative;
	top: -1px;
}
.logo{
    margin-top: 50px;
}
.table {
	width: 40% !important;
	margin-bottom: 20px;
	margin-top: 20px;
	color: #fff !important;
	border: none !important;
	font-size: 18px;
	top: 200px;
	position: relative;
	left: 275px;
}
.table > thead > tr > th {
    vertical-align: bottom;
    border-bottom: none !important;
    font-size: 25px;
    font-weight: bold
}
.table > tbody > tr > td, .table > tfoot > tr > td {
    padding: 8px;
    line-height: 1.428571429;
    vertical-align: top;
    border-top: none !important;
}
.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
    background-color: rgba(96,14,104, 0.8) !important ;
    
}


@media (min-width: 1280px) and (max-width: 1915px)   {
    .section-right {
	background: url(../photos/rightbg.png) no-repeat;
	// background-position: center center;
	background-size: cover;
	display: block;
	width: 100%;
	height: 1080px;
	z-index: 0;
	position: relative;
	top: -1px;
        background-position: calc(100% - -220px) calc(100% - 0px); 
}
    
}


@media (min-width: 1024px) and (max-width: 1275px) 
{
.section-right {
	background: url(../photos/rightbg.png) no-repeat;
	// background-position: center center;
	background-size: cover;
	display: block;
	width: 100%;
	height: 1080px;
	z-index: 0;
	position: relative;
	top: -1px;
        background-position: calc(100% - -350px) calc(100% - 0px); 
}

}