*{margin: 0px; padding: 0px;}
body{
    padding: 0px;
    font-size: 14px;
    margin: 0px auto;
    font-family:arial;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
h1, h2, h3, h4, h5, h6, p, figur{
    margin: 0px;
    font-weight: normal;
}
ul, ol{
    margin:0px;
    padding:0px;
    list-style:none;
}
.floatleft{
    float: left
}
.floatright{
    float:right;
}
.clear{
    clear: both;
}
a:focus {
    outline: none;
    outline-offset: 0px;
}
.no-margin{
    margin:0px;
}
#scrollUp{
    background:url('images/top.png') no-repeat;
    height:38px;
    width:38px;
    right:20px;
    bottom:50px;
    text-indent:-9999px;
}
/* ========end default style========= */


/* ================tab style=========== */
.life-science-tab-wrapper .nav-tabs {
    border-bottom: none!important;
    position:relative;
}
.legend-style {
    border: 1px solid;
    border-bottom:0px;
    color: #787878;
    height: 25px;
    font-size: 13px;
    font-weight: bold;
    position: absolute;
    text-align: center;
    top: -20px;
}
.legend-style.clinical {
    left: 25px;
    width: 330px;
}
.legend-style.evidence-tab {
    right: 28px;
    width: 710px;
}
.legend-style span {
    background: #fff none repeat scroll 0 0;
    left: 50%;
    margin-left: -136px;
    padding: 0 15px;
    position: absolute;
    top: -9px;
}

.life-science-tab-wrapper li {
    width: 11.1%;
}
.life-science-tab-wrapper a {
    background: #234d6f none repeat scroll 0 0;
    border-radius: 0 !important;
    color: #fff;
    font-size: 12px !important;
    min-height: 100px;
    text-align: center;
}
.life-science-tab-wrapper li:last-child a {
    margin-right: 0;
}
.life-science-tab-wrapper .active > a,
.life-science-tab-wrapper a:hover {
    background: #1e96de none repeat scroll 0 0 !important;
    color: #fff !important;
}


.life-science-tab-wrapper .tab-content {
    background: #ddd none repeat scroll 0 0;
    padding: 40px 30px;
}
.life-science-tab-wrapper .tab-pane h2,
.a-content > h2 {
    color: #234d6f !important;
    font-size: 24px;
    font-weight: bold;
    text-transform: capitalize;
}
.life-science-tab-wrapper .tab-pane p,
.a-content > p {
    color: #787878;
    font-size: 18px;
    line-height: 27px;
    margin-top: 15px;
}

/* =============mobile device accordion for tab section============== */
.clinical-accordion, .evidence-accordion{
    margin: 0 0 30px;
    border-top: 1px solid #DDD;
    border-radius: 4px;
}

.clinical-accordion dt,
.evidence-accordion dt {
    border-bottom: 3px solid #f1f2f3;
    background: #1abc9c;
    color: #FFF;
}

.clinical-accordion dd,
.evidence-accordion dd {
    display: none;
    padding: 20px;
    width: 100%;
    margin-left: 0;
    border-bottom: 1px solid #DDD;
    background: #FFF;
}

.clinical-accordion dt,
.evidence-accordion dt {
    cursor: pointer;
    font-size: 18px;
    font-weight: normal;
    margin: 0;
    padding: 12px 15px;
    text-align: center;
    background: #234d6f none repeat scroll 0 0;
    position:relative;
}

.clinical-accordion dt:before,
.evidence-accordion dt:before {
    content: "\0002b";
    font-size: 28px;
    font-weight: bold;
    padding-right: 5px;
    transform: rotate(0deg);
    transition: all 0.3s linear 0s;
    position: absolute;
    right: 13px;
    top: 6px;
}

.clinical-accordion dt:hover:before,
.evidence-accordion dt:hover:before {
    /* -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    transform: rotate(90deg); */
}

.clinical-accordion dt.accordion-active:before,
.evidence-accordion dt.accordion-active:before {
    content: "&#8964;";
    display:none;
}
.clinical-accordion dt.accordion-active,
.evidence-accordion dt.accordion-active {
    background:#1E96DE!important;
}

.clinical-accordion dt.accordion-active:hover
.evidence-accordion dt.accordion-active:hover {
    cursor: default;
}


.life-science-mobile-accordion {
    padding: 20px 0;
}
.accordion-header span {
    font-size: 15px;
    font-weight: bold;
    color: #666;
    padding: 0 25px;
    text-transform: uppercase;
    background:#fff;
}
.accordion-header {
    text-align: center;
    margin-bottom: 20px;
    position: relative;
}
.accordion-header:before {
    background: #999 none repeat scroll 0 0;
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    top: 21px;
    width: 100%;
    z-index: -1;
}


