@media (min-width: 1200px) {}


 @media (min-width: 992px) and (max-width: 1199px) {
	body{
		background:orange;
	}
	
	
 }
 
 @media (min-width: 768px) and (max-width: 991px) {
	body{
		background:pink;
	}
	.software-download-section,
	.server-details-section,
	.support-compability-section	{
	  padding: 70px 0;
	}
	.software-download-section h1.section-header {
	  font-size: 36px;
	}
	.background-form .form-area {
	  padding: 0 30px;
	}
	.usage-form .form-area label {
	  margin-right: 14px;
	  margin-left: 0;
	}
	.webinar-form .checkbox-inline {
	  margin-right: 22px;
	  margin-left: 0;
	}
	.webinar-form .checkbox-inline:last-child {
	  margin-right: 0px;
	}
	.details-header {
	  font-size: 37px;
	}
	h4.quality-header, .sess-vs-server {
	  font-size: 25px;
	}
	
	
	
 }

 @media (min-width: 600px) and (max-width: 767px) {
	body{
		background:skyblue;
	}
	.software-download-section,
	.server-details-section,
	.support-compability-section	{
	  padding: 50px 0;
	}
	.software-download-section h1.section-header {
	  font-size: 29px;
	}
	.download-forms-wrapper {
	  padding: 30px 30px;
	}
	h3.form-header2, h3.form-header2 {
	  font-size: 16px;
	}
	.background-form .form-area {
	  padding: 0 10px;
	}
	.usage-form .form-area label {
	  margin-bottom: 7px;
margin-left: 0;
margin-right: 25px;
	}
	.webinar-form .checkbox-inline {
	  margin-left: 0;
margin-right: 26px;
margin-bottom: 5px;
	}
	.webinar-form .checkbox-inline:last-child {
	  margin-right: 0px;
	}
	
	h2.form-header, .OS-form > h2 {
	  font-size: 25px;
	letter-spacing: normal;
	margin-bottom: 12px;
	line-height: 32px;
	}
	.usage-form p.select-txt {
	  font-size: 17px;
	  margin: 40px 0 10px;
	}
	.download-forms-wrapper .next-button, .download-forms-wrapper .previous-button,
	.webinar-form .action-button	{
		padding: 8px 5px;
	  width: 90px;
	}
	.form-area option {
	  font-size: 15px;
	  line-height: 25px !important;
	}
	
	.server-demo-wrapper h3 {
	  font-size: 24px;
	}
	.server-demo-wrapper .navigate, .server-demo-wrapper .modify {
	  font-size: 17px;
	  line-height: 24px;
	  margin: 6px 0;
	}
	.server-demo-wrapper code {
	  font-size: 15px !important;
	  margin-bottom: 10px;
	  padding: 5px 10px;
	  width: 190px;
	}
	.server-demo-wrapper .img.img-responsive {
	  display: none;
	}
	.support-compability-wrapper thead th {
	  font-size: 19px;
	  letter-spacing: 0.4px;
	}
	.support-compability-wrapper tbody td {
	  font-size: 14px;
	  padding: 11px 12px !important;
	}
	.server-demo-wrapper {
	  margin-top: 80px;
	}
	.details-header {
	  margin-bottom: 34px;
	  font-size: 30px;
	}
	h4.quality-header, .sess-vs-server {
	  font-size: 18px;
	  margin-bottom: 2px;
	}
	.find-out {
	  font-size: 14px;
	}
	.find-out i {
	  font-size: 15px;
	  margin-left: 3px;
	}
	.quality-details {
	  font-size: 14px;
	  line-height: 22px;
	}
	.single-quality {
	  margin-bottom: 16px;
	}
	.cta {
	  font-size: 13px;
	}
	.cta i {
	  font-size: 13px;
	}
	.sess-vs-server {
	  margin-top: 50px;
	  font-size: 20px;
	  margin-bottom: 0;
	}
	.sass-area {
	  margin: 14px 0 30px;
	}
	.sass-benefit, .server-benefit {
	  font-size: 15px;
	  margin-bottom: 3px;
	}
	.sass-area li, .server-area li {
	  font-size: 14px;
	  letter-spacing: normal;
	  line-height: 25px;
	}
	
	
	
	
 }
 
 @media (min-width: 400px) and (max-width: 599px) {
	body{
		background:yellow;
	}
	.software-download-section,
	.server-details-section,
	.support-compability-section	{
	  padding: 30px 0;
	}
	.server-details-section {
	  padding-top: 10px;
	}
	.software-download-section h1.section-header {
	  font-size: 19px;
	  margin-bottom: 30px;
	}
	#form-progressbar li::before {
	  font-size: 1.25em!important;
	  height: 25px;
	  margin: 0 auto 5px;
	  padding: 0 2px;
	  width: 25px;
	}
	#form-progressbar li::after {
	  top: 12px;
	}
	#form-progressbar li {
	  font-size: 0.75em;
	}
	.download-forms-wrapper {
	  padding: 20px 10px;
	}
	h3.form-header2, h3.form-header2 {
	  font-size: 14px;
	  line-height: 21px;
	}
	.background-form .form-area {
	  padding: 0 10px;
	}
	.download-forms-wrapper .form-control {
	  border-radius: 2px;
	  font-size: 13px;
	  height: 37px;
	  padding: 4px 10px;
	}
	.form-group.firstName, .form-group.lastName {
	  float: none;
	  margin-right: 0 !important;
	  width: 100%;
	}
	.usage-form .form-area label {
	  margin-bottom: 7px;
margin-left: 0;
margin-right: 29px;
font-size: 12px;
	}
	.webinar-form .checkbox-inline {
	 font-size: 13px;
margin-bottom: 6px;
margin-left: 0;
margin-right: 27px;
	}
	.webinar-form .checkbox-inline:last-child {
	  margin-right: 0px;
	}
	
	h2.form-header, .OS-form > h2 {
	  font-size: 20px;
letter-spacing: normal;
line-height: 28px;
margin-bottom: 6px;
	}
	.usage-form p.select-txt {
	  font-size: 14px;
margin: 7px 0 10px;
	}
	.download-forms-wrapper .next-button, .download-forms-wrapper .previous-button {
		padding: 6px 5px;
		margin: 30px auto 0;
		width: 90px;
	}
	.webinar-form .action-button {
 padding: 7px 5px;}	.OS-form .form-header2 {
	  margin-bottom: 14px;
	}
	p.select-txt {
	  font-size: 14px;
	  line-height: 23px;
	  margin: 14px 0;
	  text-align: left;
	}
	.input-group.date {
	  margin-bottom: 10px;
	}
	.webinar-form p.select-txt {
  font-size: 14px;
  line-height: 23px;
  margin: 20px 0 12px;
}
	
	.server-demo-wrapper h3 {
	  font-size: 19px;
	}
	.server-demo-wrapper .navigate, .server-demo-wrapper .modify {
	  font-size: 14px;
	line-height: 21px;
	margin: 6px 0;
	}
	.server-demo-wrapper code {
	  font-size: 15px !important;
margin-bottom: 5px;
padding: 3px 7px;
width: 170px;
	}
	.server-demo-wrapper .img.img-responsive {
	  display: none;
	}
	.support-compability-wrapper thead th {
	  font-size: 14px;
letter-spacing: normal;
	}
	.support-compability-wrapper tbody td {
	  font-size: 13px;
padding: 6px 5px !important;
	}
	.find-out {
	  font-size: 13px;
	}
	.find-out i {
	  font-size: 14px;
	  margin-left: 1px;
	}
	.server-demo-wrapper {
	  -moz-border-bottom-colors: none;
	  -moz-border-left-colors: none;
	  -moz-border-right-colors: none;
	  -moz-border-top-colors: none;
	  border-color: #ffbb00 -moz-use-text-color -moz-use-text-color;
	  border-image: none;
	  border-style: solid none none;
	  border-width: 2px 0 0;
	  margin-top: 50px;
	  padding: 30px 0;
	}
	.details-header {
	  font-size: 21px;
margin-bottom: 30px;
letter-spacing: normal;
	}
	h4.quality-header, .sess-vs-server {
	  font-size: 15px;
	  margin-bottom: 2px;
	}
	.quality-details {
	  font-size: 14px;
line-height: 22px;
	}
	.single-quality {
	  margin-bottom: 16px;
	}
	.cta {
	  font-size: 13px;
	}
	.cta i {
	  font-size: 13px;
	}
	.sess-vs-server {
	  font-size: 18px;
margin-bottom: 0;
margin-top: 40px;
	}
	.sass-area {
	  margin: 14px 0 30px;
	}
	.sass-benefit, .server-benefit {
	  font-size: 13px;
	  margin-bottom: 3px;
	}
	.form-area option {
	  font-size: 13px;
	  line-height: 24px !important;
	}
	.sass-area li, .server-area li {
	  font-size: 14px;
	  letter-spacing: normal;
	  line-height: 25px;
	}
	
	
	
 }

@media (max-width: 399px) {
	body{
		/* background:green */
	}
	.software-download-section,
	.server-details-section,
	.support-compability-section	{
	  padding: 30px 0;
	}
	.server-details-section {
	  padding-top: 10px;
	}
	.software-download-section h1.section-header {
	  font-size: 15px;
margin-bottom: 18px;
	}
	#form-progressbar li::before {
	 font-size: 1.25em !important;
height: 20px;
margin: 0 auto 5px;
padding: 0px 0px;
width: 20px;
line-height: 21px;
	}
	#form-progressbar li::after {
	  top: 10px;
	}
	#form-progressbar li {
	  font-size: 0.65em;
	}
	.download-forms-wrapper {
	  padding: 20px 10px;
	}
	h3.form-header2, h3.form-header2 {
	  font-size: 13px;
line-height: 19px;
	}
	.background-form .form-area {
	  padding: 0 10px;
	}
	.download-forms-wrapper .form-control {
	  border-radius: 2px;
	  font-size: 13px;
	  height: 37px;
	  padding: 4px 10px;
	}
	.form-group.firstName, .form-group.lastName {
	  float: none;
	  margin-right: 0 !important;
	  width: 100%;
	}
	.usage-form .form-area label {
	  margin-bottom: 7px;
margin-left: 0;
margin-right: 29px;
font-size: 12px;
	}
	.webinar-form .checkbox-inline {
	 font-size: 13px;
margin-bottom: 6px;
margin-left: 0;
margin-right: 27px;
	}
	.webinar-form .checkbox-inline:last-child {
	  margin-right: 0px;
	}
	
	h2.form-header, .OS-form > h2 {
	  font-size: 16px;
letter-spacing: normal;
line-height: 28px;
margin-bottom: 3px;
	}
	.usage-form p.select-txt {
	  font-size: 14px;
margin: 7px 0 10px;
	}
	.download-forms-wrapper .next-button, .download-forms-wrapper .previous-button {
		padding: 6px 5px;
		margin: 30px auto 0;
		width: 90px;
	}
	.webinar-form .action-button {
 padding: 7px 5px;}	.OS-form .form-header2 {
	  margin-bottom: 14px;
	}
	p.select-txt {
	  font-size: 13px;
line-height: 21px;
margin: 12px 0;
text-align: left;
	}
	.OS-form .checkbox > label {
	  font-size: 13px;
	}
	.input-group.date {
	  margin-bottom: 10px;
	}
	.webinar-form p.select-txt {
  font-size: 14px;
  line-height: 23px;
  margin: 20px 0 12px;
}
	
	.server-demo-wrapper h3 {
	  font-size: 15px;
	}
	.server-demo-wrapper .navigate, .server-demo-wrapper .modify {
	  font-size: 14px;
	line-height: 21px;
	margin: 6px 0;
	}
	.server-demo-wrapper code {
  font-size: 13px !important;
  margin-bottom: 5px;
  padding: 3px 7px;
  width: 150px;
}
	.server-demo-wrapper .img.img-responsive {
	  display: none;
	}
	.support-compability-wrapper thead th {
	  font-size: 14px;
letter-spacing: normal;
	}
	.support-compability-wrapper tbody td {
	  font-size: 13px;
padding: 6px 5px !important;
	}
	.find-out {
	  font-size: 13px;
	}
	.find-out i {
	  font-size: 14px;
	  margin-left: 1px;
	}
	.server-demo-wrapper {
	  -moz-border-bottom-colors: none;
	  -moz-border-left-colors: none;
	  -moz-border-right-colors: none;
	  -moz-border-top-colors: none;
	  border-color: #ffbb00 -moz-use-text-color -moz-use-text-color;
	  border-image: none;
	  border-style: solid none none;
	  border-width: 2px 0 0;
	  margin-top: 50px;
	  padding: 30px 0;
	}
	.details-header {
	  font-size: 21px;
margin-bottom: 30px;
letter-spacing: normal;
	}
	h4.quality-header, .sess-vs-server {
	  font-size: 15px;
	  margin-bottom: 2px;
	}
	.quality-details {
	  font-size: 14px;
line-height: 22px;
	}
	.single-quality {
	  margin-bottom: 16px;
	}
	.cta {
	  font-size: 13px;
	}
	.cta i {
	  font-size: 13px;
	}
	.sess-vs-server {
	  font-size: 18px;
margin-bottom: 0;
margin-top: 40px;
	}
	.sass-area {
	  margin: 14px 0 30px;
	}
	.sass-benefit, .server-benefit {
	  font-size: 13px;
	  margin-bottom: 3px;
	}
	.form-area option {
	  font-size: 13px;
	  line-height: 24px !important;
	}
	.sass-area li, .server-area li {
	  font-size: 14px;
	  letter-spacing: normal;
	  line-height: 25px;
	}
	
	
	
	
}


